create database DB_QuanLyThuVien;
GO
USE DB_QuanLyThuVien
--drop database DB_QuanLyThuVien
Go
CREATE TABLE LoaiSach (
    MaLoaiSach VARCHAR(10) NOT NULL PRIMARY KEY,
    TenLoaiSach NVARCHAR(250) NOT NULL
);
 go
CREATE TABLE Sach (
    MaSach INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    TieuDe NVARCHAR(250) NOT NULL,
    NhaXuatBan NVARCHAR(250) NOT NULL,
    TacGia NVARCHAR(250) NOT NULL,
    SoTrang INT NULL,
    SoLuongSach INT  NOT NULL,
    GiaTien FLOAT NULL,
    NgayNhapKho DATE NULL,
    ViTriDatSach NVARCHAR(250)  NOT NULL,
    MaLoaiSach VARCHAR(10)  NOT NULL,
    CONSTRAINT fk_Sach_LoaiSach FOREIGN KEY (MaLoaiSach) REFERENCES LoaiSach(MaLoaiSach)
);

CREATE TABLE LoaiNguoiDung(
	MaLoaiNguoiDung VARCHAR(10)  NOT NULL PRIMARY KEY,
	TenLoaiNguoiDung NVARCHAR(150) NOT NULL
);
 go
 CREATE TABLE NguoiDung (
    MaNguoiDung VARCHAR(10)  NOT NULL PRIMARY KEY,
	MaLoaiNguoiDung  VARCHAR(10) NOT NULL,
    TenNguoiDung  NVARCHAR(150) NOT NULL,
    Email  VARCHAR(50) NOT NULL,
    SoDienThoai  VARCHAR(10) NOT NULL,
	MatKhau  VARCHAR(30) NOT NULL,
    CONSTRAINT fk_Nguoidung_LoaiNguoidung FOREIGN KEY (MaLoaiNguoiDung) REFERENCES LoaiNguoiDung(MaLoaiNguoiDung)

);

go
CREATE TABLE PhieuMuon (
    MaPhieuMuon INT IDENTITY(1,1)  NOT NULL PRIMARY KEY,
    NgayMuon DATE NOT NULL,
    NgayHenTra DATE NOT NULL,
    TongSoLuongSachMuon INT NULL,
    MaNguoiDung VARCHAR(10) NOT NULL,
    GhiChu NVARCHAR(250) NULL,
    CONSTRAINT fk_Phieumuon_Nguoidung FOREIGN KEY (MaNguoiDung) REFERENCES NguoiDung(MaNguoiDung)
);
 go
CREATE TABLE ChiTietPhieuMuon (
    MaChiTietPhieuMuon INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	MaPhieuMuon INT NOT NULL,
    MaSach INT NOT NULL,
    SoLuongSachMuonMoiLoai INT NOT NULL,
    CONSTRAINT fk_Chitietphieumuon_Phieumuon FOREIGN KEY (MaPhieuMuon) REFERENCES PhieuMuon(MaPhieuMuon),
    CONSTRAINT fk_Chitietphieumuon_Sach FOREIGN KEY (MaSach) REFERENCES Sach(MaSach)
);

CREATE TABLE PhieuTra (
    MaPhieuTra INT IDENTITY(1,1)  NOT NULL PRIMARY KEY,
	MaPhieuMuon INT NOT NULL,
    NgayTra DATE NULL,
    TrangThai bit NOT NULL,
    MaNguoiDung VARCHAR(10) NOT NULL,
    GhiChu NVARCHAR(250) NULL,
    CONSTRAINT fk_Phieutra_Nguoidung FOREIGN KEY (MaNguoiDung) REFERENCES NguoiDung(MaNguoiDung),
	CONSTRAINT FK_Phieutra_PhieuMuon FOREIGN KEY (MaPhieuMuon) REFERENCES PhieuMuon(MaPhieuMuon)
);
 go
-- Ràng buộc duy nhất 

alter table NguoiDung
add constraint uqEmail
unique (Email);
go
alter table NguoiDung
add constraint uqSDT
unique (SoDienThoai);
-- Ràng buộc kiểm tra
go
ALTER TABLE Sach
ADD CONSTRAINT CHK_sotrang 
CHECK (SoTrang > 5);
go
ALTER TABLE Sach
ADD CONSTRAINT CHK_SoLuongSach 
CHECK (SoLuongSach > 1);
go
ALTER TABLE Sach
ADD CONSTRAINT CHK_GiaTien
CHECK (GiaTien > 0);
go
ALTER TABLE PhieuMuon
ADD CONSTRAINT chk_NgayhenTra_NgayMuon
CHECK(NgayHenTra >= NgayMuon);
go

--insert data cho các table 

INSERT INTO LoaiSach (MaLoaiSach, TenLoaiSach)
VALUES
('LS001', N'Tiểu thuyết'),
('LS002', N'Khoa học'),
('LS003', N'Trinh thám'),
('LS004', N'Trẻ em'),
('LS005', N'Nghiên cứu'),
('LS006', N'Truyện tranh'),
('LS007', N'Nước ngoài'),
('LS008', N'Nghệ thuật'),
('LS009', N'Nấu ăn'),
('LS010', N'Ngoại ngữ');



INSERT INTO LoaiNguoiDung (MaLoaiNguoiDung, TenLoaiNguoiDung)
VALUES
('LND001', 'Admin'),
('LND002', 'Librarian'),
('LND003', 'User');






INSERT INTO ChiTietPhieuMuon (MaPhieuMuon, MaSach, SoLuongSachMuonMoiLoai)
VALUES
(1, 1, 1),
(1, 3, 2),
(1, 5, 1),
(2, 2, 1),
(2, 7, 1),
(3, 4, 1),
(3, 6, 1),
(3, 8, 2),
(4, 9, 1),
(5, 10, 5),
(6, 2, 1),
(6, 3, 1),
(7, 1, 1),
(7, 4, 1),
(7, 6, 1),
(8, 5, 2),
(9, 7, 1),
(10, 10, 4);

INSERT INTO PhieuTra (MaPhieuMuon, NgayTra, TrangThai, MaNguoiDung, GhiChu)
VALUES
(1, '2023-11-14', 1, 'ND001', null),
(2, '2023-11-15', 1, 'ND002', null),
(3, '2023-11-16', 0, 'ND006', null),
(4, '2023-11-17', 1, 'ND005', null),
(5, '2023-11-18', 0, 'ND004', null),
(6, '2023-11-19', 1, 'ND002', NULL),
(7, '2023-11-20', 0, 'ND002', null),
(8, '2023-11-21', 1, 'ND005', null),
(9, '2023-11-22', 0, 'ND004', null),
(10, '2023-11-23', 0,'ND001', NULL);
GO 
select * from PhieuTra
select * from PhieuMuon
GO
-- sau khi thêm phiếu mượn
CREATE TRIGGER trg_SauKhiThemPhieuMuon
ON PhieuMuon
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON; -- không hiện thông báo số dòng bị thay đổi

    INSERT INTO PhieuTra (MaPhieuMuon, NgayTra, TrangThai, MaNguoiDung, GhiChu)
    SELECT
        inserted.MaPhieuMuon, NULL, 0, inserted.MaNguoiDung, NULL
    FROM inserted;
END;
go
-- sau khi sửa phiếu mượn thì nếu cột maNguoiDung bị update thì sẽ update luôn bên phiếu trả
CREATE TRIGGER trg_SauKhiCapNhatPhieuMuon
ON PhieuMuon
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF UPDATE(MaNguoiDung)
    BEGIN
        UPDATE pt
        SET pt.MaNguoiDung = i.MaNguoiDung
        FROM PhieuTra pt
        INNER JOIN inserted i ON pt.MaPhieuMuon = i.MaPhieuMuon
        INNER JOIN deleted d ON pt.MaPhieuMuon = d.MaPhieuMuon
        WHERE i.MaNguoiDung <> d.MaNguoiDung;
    END;
END;

go
-- INSTEAD sẽ sửa đổi thao tác delete theo các bước mà ta muốn
CREATE TRIGGER trg_KhiXoaPhieuMuon
ON PhieuMuon
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- Xóa phiếu trả của phiếu mượn bị xóa
    DELETE FROM PhieuTra
    WHERE MaPhieuMuon IN (SELECT MaPhieuMuon FROM deleted);

    -- Xóa chi tiết mượn của phiếu mượn bị xóa
    DELETE FROM ChiTietPhieuMuon
    WHERE MaPhieuMuon IN (SELECT MaPhieuMuon FROM deleted);

    -- Xóa phiếu mượn
    DELETE FROM PhieuMuon
    WHERE MaPhieuMuon IN (SELECT MaPhieuMuon FROM deleted);
END;



